<div class="container">
  <div class="d-flex justify-content-end">
    <button type="submit" [disabled]="this.form.invalid" class="btn btn-primary" (click)="postData()">
      {{ this.id ? "Update" : "Save" }}
    </button>
  </div>

  <form [formGroup]="form" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" formControlName="name" class="form-control asterisk" id="exampleInputEmail1"
        aria-describedby="emailHelp" />
      <!-- (this.form.controls['name'].touched ||
            this.form.controls['name'].dirty) -->
      <div class="alert alert-danger mt-2" role="alert" *ngIf="
          this.form.controls['name'].invalid &&
          (this.form.controls['name'].touched ||
            this.form.controls['name'].dirty)
        ">
        Name is required !
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Address</label>
      <input type="text" formControlName="address" class="form-control" id="exampleInputPassword1" />

      <div class="alert alert-danger" role="alert" *ngIf="
          this.form.controls['address'].invalid &&
          (this.form.controls['address'].touched ||
            this.form.controls['address'].dirty)">
        Adress is required !
      </div>
    </div>

    <!-- formArray -->
    <div class="formArray">
      <div class="d-flex justify-content-between">
        <h3>Student Marks Details</h3>
        <button class="button btn btn-primary" (click)="addFormArrGroupFunction()">
          Add Details
        </button>
      </div>

      <table class="table" formArrayName="result">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Subject</th>
            <th scope="col">Marks Obtained</th>
            <th scope="col">Edit</th>
            <th scope="col">Del</th>
          </tr>
        </thead>
        <tbody>
          <tr [formGroupName]="i" *ngFor="let abcd of studentDetails.controls; index as i">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <input formControlName="subject" class="form-control" type="text" />
            </td>
            <td>
              <input formControlName="marksObtained" (input)="calculateTotalMarks()" class="form-control"
                type="number" />
            </td>
            <td>
              <button class="btn btn-info" (click)="editFormArrGroup(i)">
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="delFormArrGroup(i);calculateTotalMarks()">
                Del
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Total Marks</label>
      <input type="number" formControlName="totalMarks" class="form-control asterisk" id="exampleInputEmail1"
        aria-describedby="emailHelp" />
    </div>
  </form>
</div>